[Unit]
Description=Crystall API
After=network.target
Wants=network-online.target

[Service]
WorkingDirectory=/data/crystall-budget/api
ExecStart=/usr/bin/node server.js
EnvironmentFile=/data/crystall-budget/api/.env
Restart=always
RestartSec=2
RuntimeMaxMemory=300M
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target